
</div>
<div class="footer-padding"></div>
  <div class="footer">
    
    <a href="https://www.instagram.com/beutycode"><i class="social-icon fab fa-instagram"></i></a><Strong></em></Strong>
    <a href="https://twitter.com/beutycode"> <i class="social-icon fab fa-twitter"></i></a><Strong></em></Strong>
    <a href="https://www.linkedin.com/in/denisse-perezramirez/"><i class="fab fa-linkedin"></i></a><Strong></em></Strong>
    
    <p>© Copyright 2020 Beuty Code</p>

  </div>
</div>
</body>
</html>
