<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p class="startingContent"> <%= contactContent %> </p>
    <div class="contact-me">
                
        <h2>Get In Touch</h2>
                        <p>Click on The Link to Connect
                        </p>
        <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
      </div>
    </div>  
<%- include("partials/footer"); -%>
